<!DOCTYPE html>
<html lang="fr">
    <head>
        <title><%= title %></title>
        <%- include ("partials/header") %>
      </head>
<body>
    <main>
        <%- include ("partials/nav") %>   
        <div class="contenu-principal">
            <h1>Réponses soumises</h1>
            <p>
                Vous trouverez ci-dessous les fichiers de vos réponses aux activités. 
                Veuillez les télécharger et les envoyer à vos enseignants.
                
            </p>
        
                <button onclick="submitSavedRal12()">Refresh page!</button>
                
                <ul>
                    <% files.forEach(function(file) { %>
                        <li><a href="/docs/reponses/<%= file %>" download><%= file %></a></li>
                    <% }); %>
                </ul>
        </div>
    </main>
    <%- include ("partials/scripts") %>
</body>